<div class="img-container">
  <div class="img-lrg">

    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgDefault }}" ng-click="toggleZoom()" class="img-responsive" ng-class="{ 'hover-grid-target' : hoverGrid }">

    <div class="hover-grid-grid" ng-if="hoverGrid" hover-grid hover-grid-options="{ target : '.hover-grid-target', totalBoxesX : 70 }" hover-grid-captions="Main.gridCaptions" hover-grid-add-description="Main.addDescription">
      <div ng-repeat="x in Main.gridCaptions track by $index">
        <div class="hover-grid-box" ng-repeat="y in Main.gridCaptions[$index]" ng-model="y" ng-if="!y.description" style="height: {{ boxHeight }}px; top: {{ boxHeight * y.row }}px; left: {{ boxWidth * y.column }}px;" ng-mouseenter="Main.activateBox(y)" ng-click="Main.addDescription(y)">{{ y.description }}</div>
<!-- 
        <div ng-if="!y.description" style="height: {{ boxHeight }}px; margin-top: {{ $index * boxHeight }}px; margin-left: {{ boxWidth * y.column }}px;"></div> -->
      </div>
    </div>
  </div>

  <div class="img-zoom" ng-class="{ 'show' : showZoom }">
    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgZoom }}">
  </div>
</div>