<div class="img-container" ng-click="galleryZoom.toggleZoom()" ng-style="galleryZoom.imgContainer">
  <div class="img-lrg" ng-mousemove="galleryZoom.mousemove($event)" ng-class="{ 'show' : galleryZoom.showLrg }" ng-style="galleryZoom.containerLrg">
    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgLrg }}" class="img-responsive" ng-style="galleryZoom.imgLrg">
  </div>

  <div class="img-zoom" ng-class="{ 'show' : galleryZoom.showZoom }" ng-style="galleryZoom.zoomView">
    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgZoom }}" ng-style="galleryZoom.imgZoom">
  </div>
</div>