<div class="img-container" ng-click="regenerateGrid(true);" ng-style="shoeZoom.imgContainer" ng-mousemove="shoeZoom.mousemove($event)">
  <div class="rotators">
    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ rotatorUrl }}" ng-repeat="rotatorUrl in Main.rotators track by $index" ng-show="shoeZoom.activeRotator == $index" />
  </div>

  <div class="img-lrg" ng-style="shoeZoom.containerLrg">

    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgDefault }}" ng-click="toggleZoom()" class="hover-grid-target">

    <!-- <div class="hover-grid-grid" hover-grid hover-grid-options="{ target : '.hover-grid-target', totalBoxesX : 70 }" hover-grid-captions="Main.gridCaptions" hover-grid-add-description="Main.addDescription">

      <div ng-repeat="x in Main.gridCaptions track by $index">

        <div class="hover-grid-box"
            ng-if="y.description"
            ng-repeat="y in Main.gridCaptions[$index]"
            ng-model="y"
            style="height: {{ boxHeight }}px; top: {{ boxHeight * y.row }}px; left: {{ boxWidth * y.column }}px;" 
            ng-class="{ 'show-grid' : (y.description && !y.toggled), 'hide-grid' : (y.description && y.toggled), 'regenerate' : y.regenerate && !y.toggled, 'regenerate-toggled' : y.toggled && y.regenerate }" 
            ng-mouseenter="Main.activateBox(y);"
            ng-click="regenerateGrid()"><p>{{ y.description }}</p></div>
      </div>
    </div> -->
  </div>

  <div class="caption-container" ng-class="{ 'show' : showZoom }" ng-style="shoeZoom.captionContainer">
    <h4 ng-if="Main.activeBox.description">
      <span ng-repeat="letter in Main.activeBox.description track by $index" class="char_{{ letter.index }}">{{ letter.letter }}</span>
    </h4>
    <div class="img-zoom" ng-class="{ 'show' : showZoom }">
      <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgZoom }}" ng-style="shoeZoom.imgZoom">
    </div>
  </div>
</div>