<div class="img-container" ng-click="shoeZoom.regenerateGrid();" ng-style="shoeZoom.imgContainer" ng-mousemove="shoeZoom.mousemove($event)">
  <div class="img-lrg" ng-style="shoeZoom.containerLrg">

    <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgDefault }}" class="hover-grid-target" ng-class="{ 'dulled' : shoeZoom.showZoom }">

    <div class="grid-container" ng-style="shoeZoom.gridContainer" ng-if="shoeZoom.lrgLoaded;">
      <div ng-repeat="x in Main.gridCaptions track by $index">
        <div class="hover-grid-box"
          ng-if="y.description"
          ng-repeat="y in Main.gridCaptions[$index]"
          ng-model="y"
          ng-style="shoeZoom.gridBox(y)"
          ng-class="{ 'show-grid' : (y.description && !y.toggled), 'hide-grid' : (y.description && y.toggled), 'regenerate' : y.regenerate && !y.toggled, 'regenerate-toggled' : y.toggled && y.regenerate, 'dulled' : shoeZoom.showZoom }" 
          ng-mouseenter="shoeZoom.activateBox(y);"><p>{{ y.description }}</p>
        </div>

<!--         <div class="hover-grid-box"
          ng-if="!y.description"
          ng-repeat="y in Main.gridCaptions[$index]"
          ng-style="shoeZoom.gridBox(y)"
          class="show-grid"
          ng-class="{ 'dulled' : shoeZoom.showZoom }">
        </div> -->
      </div>
    </div>
  </div>

  <div class="caption-container" ng-class="{ 'show' : shoeZoom.showZoom }" ng-style="shoeZoom.captionContainer">
    <h4 ng-if="shoeZoom.activeBox.description">
      <span ng-repeat="letter in shoeZoom.activeBox.description track by $index" class="char_{{ letter.index }}">{{ letter.letter }}</span>
    </h4>
    <div class="img-zoom" ng-class="{ 'show' : shoeZoom.showZoom }">
      <img ng-src="http://res.cloudinary.com/digbk5qam/image/upload/v1/{{ imgZoom }}" ng-style="shoeZoom.imgZoom">
    </div>
  </div>

  <article class="grid-caption grounded" ng-if="!shoeZoom.showZoom">
    <h4>{{ shoeZoom.groundedCaption }}</h4>
  </article>
</div>