<article class="container" id="artist" about-section about-section-transition-target="#gallery-carousel">
  <div class="row">
    <div class="col-sm-7">
      <ul id="gallery-carousel" rn-carousel rn-carousel-indicator rn-carousel-buffered rn-carousel-index>
        <li ng-repeat="image in Main.gallery.rows track by $index">
          <parallax-zoom class="gallery-image" parallax-zoom-options="{ default : '{{ image.lrgUrl }}', zoom : '{{ image.zoomUrl }}', fullWidth : false }"></parallax-zoom>
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <hgroup>
        <h2>
          <span class="caps">E</span>yes of an <span class="caps">A</span>rtist
        </h2>
      </hgroup>
      <aside>
        <h6>
          <span class="caps">I</span>n schoool I studied history and studio art,<br/>
          Staying true to the passions at the heart<br/>
          of my being, my great love is seeing<br/>
          how creativity can express itself through form and feeling.<br/>

          <br/>

          To all my tasks I bring an attuned eye,<br/>
          Steeped in art history and in design,<br/>
          I make fly websites that are visually refined.<br/>

          <br/>

          Crafting minute details is my absolute pleasure,<br/>
          Drawing, building, and writing are the toys of my leisure.<br/>
        </h6>
      </aside>
    </div>
  </div>
</article>


<article about-section id="nerd" about-section-transition-target="#shoe-container">
  <hgroup class="container">
    <h2>Mind of a Nerd</h2>
  </hgroup>

  <div id="shoe-container">
    <shoe-zoom shoe-zoom-options="{ default : 'portfolio_gallery/shoe/web_shoe_lrg', zoom : 'portfolio_gallery/shoe/web_shoe_zoom', fullWidth : true, hoverGrid : true }"></shoe-zoom>

    <article class="grid-caption grounded" ng-if="!showZoom">
      <h4><span ng-repeat="letter in Main.activeBox.description track by $index">{{ letter.letter }}</span></h4>
    </article>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h6>

          <span class="caps">I</span>t is no secret that I'm a huge nerd,<br/>
          Who loves words, history, fantasy, and the absurd.<br/>
          My interestss reflect thought diversity<br/>
          Which spurs and informs all my creativity.

          <br/><br/>

          It's impossible without having a foundation<br/>
          Of stories and facts to form cogent creations.<br/>
          My passion for learning leaves me well equppied<br/>
          to face the ultimate abstract: programming scripts.<br/>
        </h6>
      </div>
    </div>
  </div>
</article>


<article id="coder" class="container" about-section>
  <div class="row">
    <div class="col-sm-7">
      <hgroup>
        <h2>Hands of a Coder</h2>
      </hgroup>
      <h6>
        We've seen an eye for design and a nerd's mind.<br/>
        These passions find form through my text-editor, Sublime.<br/>
        What inspires my scripts, if we're being realistic,<br/>
        Is that a readable style makes code artistic.<br/>
        But unlike art where success is subjective,<br/>
        There's wonderful closure in code that's effective.

        <br/><br/>

        (Check out a tour of this site's Angular directives).

        <br/><br/>

        As a NYC dev shop's Junior Full-Stack Programmer<br/>
        I'm engrossed in nuances of code's cryptic grammar.<br/>
        My time's evenly split between the front-end and back.<br/>
        Building is my passion -- but so is growing my stack.

        <br/><br/>

        I want to keep working on things that I love,<br/>
        If you're interested, check me out on LinkedIn and Github.<br/>
      </h6>
    </div>
    <div class="col-sm-7">
      
    </div>
  </div>
</article>